# Block these specific directories first
.app/
.idea/
**/_pycache_/

# Ignore all other files by default
*

# Whitelist ONLY these specific file extensions globally
!*.py
!*.json
!*.html
!*.txt
!*.png
!.gitignore