# 1. Completely ignore the python environment and IDE folders first
.app/
.idea/
**/_pycache_/

# 2. Ignore everything else by default
*

# 3. Allow only these specific file extensions globally
!*.py
!*.json
!*.html
!*.txt
!*.png
!.gitignore
